input.createlisting, select.createlisting{
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    transition: box-shadow 0.2s ease-in-out;
    margin: 10px;
    width: 23%;
}

input.createlisting:focus, select.createlisting:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    background-color: #fff;
}

button.createlisting {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button.createlisting:hover {
    background-color: #2c3e50;
    border: 2px solid #2c3e50;
    color: #fff;
}

